@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.header {
    margin-bottom: 1rem;
}
/* barra de navegacion*/

.justificacionNav{
    justify-content: end;
}
.nav-link {
    color: white;
}

.color {
    color: rgb(39, 167, 70);
}
.colorNav{
   background-color: rgb(56, 56, 56);
}



/*carrousel*/
.contenedorCarousel {
    width: 100%;
    height: 80vh;
}

.contenedorCarousel img {
    height: 80vh;
    object-fit: cover;
}

.contenedorCarousel p {
    text-align: right;
    text-shadow: #000000;
    margin-bottom: 5rem;
}

.texto {
    font-size: 2.5rem;
    text-align: right;
}

.botonesCabecera {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    margin-bottom: 3rem;
}

.botonTickets {
    margin-left: 1rem;
}

.carouselNone {
    display: none;
}


/*oradores*/
.sectionOradores h2 {
    text-align: center;
}

.tituloCh {
    font-size: small;
}

.padreCards {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.card {

    width: 85%;
    margin: 0 auto;
    height: 90vh;
    column-gap: 4%;
    border-radius: 2% 2% 0px 0px;
}

.card img {

    height: 55%;
    border-radius: 2% 2% 0px 0px;
}

.card-body {
    padding: 0.5rem 1rem;
}

.card-title {
    font-weight: bolder;
    font-size: large;
}

.buttonsCard {
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.btn-info {
    color: #ffffff;
}

.btn {
    line-height: 1;
}

/*lugar y fecha*/
.colIzq {
    background-image: url("../assets/img/obelisco.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}

.colDer {
    background-color: rgb(41, 41, 41);
    color: white;
    height: 60vh;
    padding: 3%;
}

/*formulario Orador*/
.formularioOrador{
    align-items: center;
    text-align: center;
}
.datosUser{
    align-items: center;
    justify-content: center;
}
.imputName{
    padding:1rem;
}
.charla {
    text-decoration: none;
    color: black;
    border-bottom: 2px dotted black;
}
.finalForm {
font-size: smaller;
text-align: left;
}

.btn-success-color{
    border-color: rgb(150, 201, 62);
    background-color: rgb(150, 201, 62);
    color: white;
}

.wsp {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
}

.footer {
    background: linear-gradient(to right, #1d3947, #1d4962, #1e5372);
    height: 10vh;
}

.contenedorFooter {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.contenedorFooter a {
    color: white;
    text-decoration: none;
    font-size: 1 rem;
}

/*vamos a cargar ahora el diseño para celular*/
/*0 - 567px  */

@media screen and (max-width: 567px) {

.justificacionNav{
justify-content:left;
    }
.contenedorFooter a {
    font-size: small;
}

    .footer {
        height: initial;
        padding: 30px;
    }

}


@media screen and (min-width: 568px) and (max-width:767px) {

    .wsp {
        position: fixed;
        bottom: 20px;
        right: 10px;
        width: 30px;
    }

    .contenedorFooter a {
        font-size: medium;
    }
    .footer {
        height: initial;
        padding: 30px;
}
}



@media screen and (min-width: 768px) and (max-width:991px) {

    .padreCards {
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        height: initial;

    }

    .card {
        border: 1px solid rgb(207, 202, 202);
        width: 300px;
        height: 90%;
        border-radius: 2%;
        margin-bottom: 1rem;
    }

    .lugarFecha {
        display: flex;
        align-items: stretch;
        height: 60vh;
        background-color: rgb(41, 41, 41);
        color: white;
        font-size: small;

    }

    .formularioOrador {
        height: initial;
    }

    .formularioTicket {
        height: initial;
    }

    .wsp {
        position: fixed;
        bottom: 40px;
        right: 20px;
        width: 30px;
    }

    .contenedorFooter a {
        color: white;
        text-decoration: none;
        padding: 1rem;
        align-items: flex-start;
    }

}

@media screen and (min-width: 992px) and (max-width:1299px) {
    .headerNav {
        padding: 1rem 1rem;
    }

    .contenedorLogo {
        width: 20%;
    }

    .navegacion {
        margin-left: 20px;
        width: 65%;
    }

    .padreCards {
        width: 90%;
        height: initial;
    }

    .card {
        margin-bottom: 1rem;
    }

    .lugarFecha {
        font-size: small;

    }

    .formularioOrador {
        height: initial;
    }

    .formularioTicket {
        height: initial;
    }

    .wsp {
        position: fixed;
        bottom: 40px;
        right: 20px;
        width: 40px;
    }

    .contenedorFooter a {
        color: white;
        text-decoration: none;
        padding: 1rem;
        align-items: flex-start;
    }

}

/*
@media screen and (min-width: 1300px) and (max-width:1399px) {
    .headerNav {
        background-color: rgb(229, 255, 0);
        padding: 1rem 1rem;
    }

    .contenedorLogo {
        width: 20%;
    }

    .navegacion {
        margin-left: 20px;
        width: 65%;
    }

    .padreCards {
        width: 90%;
        height: initial;
    }

    .card {
        margin-bottom: 1rem;
    }

    .lugarFecha {
        font-size: small;

    }

    .formularioOrador {
        height: initial;
    }
    .formularioTicket {
        height: initial;
    }
    .wsp {
        position: fixed;
    bottom:40px;
        right: 20px;
        width: 40px;
    }

    .contenedorFooter {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;

    }

    .contenedorFooter a {
        color: white;
        text-decoration: none;
        padding: 1rem;
        align-items: flex-start;
    }
}

/*otra opcion 
/*celulares
@media screen and (max-width: 767px){
  
}
/*algunas tablets y notebook
@media screen and (min-width: 768px) and (max-width:1399px) {
    
}

*/